
.navbox
{
  width:100%;
  height:50px;
  margin-top:0;
  background-color:rgb(255, 77, 77);
}

.cont
{
  width:80%;
  height:auto;
  background-color:black;
  margin-left:10%;
  margin-right:10%;
  margin-top:50px;
}

.box
{
  width:30%;
  height:auto;
  background-color:#D3D3D3;
  margin-right:2.5%;
  float:left;
  border-radius: 5px;
  overflow:hidden;
  margin-top:25px;
}

.box-text
{
  font-size:16px;
  font-family:"Times New Roman";
  margin-bottom:20px;
}

.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity:1;
}

.dropdown-menu {
  opacity:.3;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: scale(1, 0);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.caret-up {
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;

    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}
